* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/background.jpeg);
}

.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.right-login h2 {
  color: white;
}

.right-login input {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-bottom: 7px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.right-login button {
  margin-top: 7px;
  margin-left: 40px;
  padding: 8px;
  border: none;
  border-radius: 10px;
  background-color: #45a049;
}

.right-login p {
  margin-top: 6px;
  color: white;
}

.register a {
  color: #45a049;
  text-decoration: none;
}

.inicio {
  text-decoration: none;
  color: white;
}
