* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/background.jpeg);
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
}

form input {
  padding: 5px;
  text-align: center;
  border: none;
  border-radius: 10px;
}

form .register {
  padding: 10px 40px;
  background-color: #45a049;
  border: none;
  color: white;
}

.login {
  text-decoration: none;
  color: #45a049;
}

.inicio {
  text-decoration: none;
  color: white;
}
